.cardstack {
    display:flex;
    width:90vw;
    margin:auto;
    scroll-snap-type: x mandatory;
    
}

.video-responsive {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 50px;
    overflow-x:auto;
    width:640px;
    height:385px;
}

  
.video-responsive iframe {


}