.footerContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.yt{
    width: 22px;
    padding:4px;
    padding-top:6px;
}

.yt:hover {
    opacity:0.4;
}

.li {
    width: 20px;
    padding:4px;
}

.li:hover {
    opacity:0.4;
}