.footerContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    position:fixed;

    left:0;
    bottom:20px;
    right:0;
}

.yt{
    width: 22px;
    padding:4px;
    padding-top:6px;

    &:hover {
        opacity:0.4;
    }
}

.ln {
    width: 20px;
    padding:4px;

    &:hover {
        opacity:0.4;
    }
}

@media (max-width:576px){
    
    .yt, .ln {
        padding: 4px 10px 4px 13px;
        
    }
    .yt {
        width:32px;
        padding-top: 9px;
    }
    .ln {
        width:31px;
    }
}