.footerContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.icons {
    height:auto;
    padding:5px;

}

.yt1 {
    width: 20px;  
}

.li1 {
    width: 20px;
}