@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.headerContainer {
    display:flex;
    width:100vw;
    padding:0px;
    margin:0px;
    justify-content: center;
}

.header {
    
    display:flex;
    justify-content:space-around;
    width:60%;
    min-width:600px;

    // z-index: 2;

    font-family: 'Raleway', sans-serif;
    color:rgb(240, 240, 240);
    font-size: 1.1em;

   
}

.abt
 {
    margin-top:3.3vw;
    align-items: flex-end;
}


.logoContainer {

    display:flex;
    
    

    .logo{
        position:relative;
        width:350px;
        height:auto;
        z-index: 2;
    }
    
    .cloud {
        position: absolute;
        z-index: -1;
        width: 35%;
        height: auto;
        left: 432px;
        top: -60px;
    }

    .cloud1 {
        animation:clouds 10s;
        animation-iteration-count: infinite;

    }

    .cloud2 {
        animation:clouds 7s;
        animation-iteration-count: infinite;
    }

    .cloud3 {
        animation:clouds 5s;
        animation-iteration-count: infinite;
    }

    .cloud4 {
        animation:clouds 20s;
        animation-iteration-count: infinite;
    }


}

@keyframes wobble {
    0% { transform:  rotate(0deg); }
    10% { transform: rotate(-0.1deg); }
    20% { transform: rotate(0.1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(0.1deg); }
    50% { transform: rotate(-0.1deg); }

  }

@keyframes clouds {
    0%  {opacity: 0.6}
    25% {opacity: 1}
    50% {opacity: 0.4}
    75% {opacity: 1}
    100% {opacity: 0.6}
}

@keyframes cloudsReduce {
    0%  {opacity: 0.4}
    25% {opacity: 0.8}
    50% {opacity: 0.2}
    75% {opacity: 0.8}
    100% {opacity: 0.4}
}

@keyframes blip {
    0% {opacity:1}

    20% {opacity:1}
    20.4% {opacity:0.4}
    20.8% {opacity:1}

    23% {opacity:1}
    23.4% {opacity:0.6}
    23.8% {opacity:1}
}