@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.headerContainer {
  display:flex;
  width:100%;
  justify-content: center;

  font-family: 'Raleway', sans-serif;
  color:rgb(240, 240, 240);
  font-size: 1.1em;

  position:fixed;
  z-index: 5;
}

.desk-header {
  display:flex;
  justify-content:space-around;
  width:60%;
}

.abt {
  margin-top:46px;
  align-items: flex-end;
}

.mob-header {
  width:100%;
  display:none;
}

.logoContainer {
  position:relative;
  display:flex;
  
  .logo{
    position:relative;
    width:350px;
    height:auto;
    z-index: 2;
  }
  
  .cloud {
    position:absolute;
    z-index:-1;
    width: 130%;
    height: auto;
    top: -60px;
    left: -25px;
  }

  .cloud1 {
    animation:clouds 10s;
    animation-iteration-count: infinite;

  }

  .cloud2 {
    animation:clouds 7s;
    animation-iteration-count: infinite;
  }

  .cloud3 {
    animation:clouds 5s;
    animation-iteration-count: infinite;
  }

  .cloud4 {
    animation:clouds 20s;
    animation-iteration-count: infinite;
  }
}

@media (max-width:974px) {
  .abt {
    margin-top:4.5vw;
  }
}



//phone
@media (max-width:576px) {

  .desk-header {
    display:none;
  }

  .mob-header {
    display:initial;
  }

  .headerContainer {
    width:100%;
    font-size: 0.9em;
  }

  .logoContainer{
    top: -4.1vh;
    left: 4vw;
    position: absolute;


    .logo{
      width: 400px;
      height: auto;
      top: 8px;
    }
  
    .cloud {
      width: 130%;
      left: -34px;
    }
  }
}

@media (max-width:486px) {
  .logoContainer{
    left: -4vw;
    top: -5vw;
    .logo {
      top: 0px;
      width: 350px;
    }
    .cloud {
      top: -64px;
      left: -30px;
    }
  }
  }



@keyframes wobble {
  0% { transform:  rotate(0deg); }
  10% { transform: rotate(-0.1deg); }
  20% { transform: rotate(0.1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(0.1deg); }
  50% { transform: rotate(-0.1deg); }
}
  
@keyframes clouds {
  0%  {opacity: 0.6}
  25% {opacity: 1}
  50% {opacity: 0.4}
  75% {opacity: 1}
  100% {opacity: 0.6}
}

@keyframes cloudsReduce {
  0%  {opacity: 0.4}
  25% {opacity: 0.8}
  50% {opacity: 0.2}
  75% {opacity: 0.8}
  100% {opacity: 0.4}
}

@keyframes blip {
  0% {opacity:1}

  20% {opacity:1}
  20.4% {opacity:0.4}
  20.8% {opacity:1}

  23% {opacity:1}
  23.4% {opacity:0.6}
  23.8% {opacity:1}
}