@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.closedModal {
  height: 40vw;
}

.aboutModal, .contactModal {
  background-color:rgb(10, 10, 10);
  width: 40vw;

  position:absolute;
  left: 30%;

  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  z-index: 3;
}

.aboutModal {
  animation: aboutOpen 0.8s;
  height: 67vh;
  width: 55vw;
  top: 20%;
  left: 24%;
  z-index: 5;
}

.contactModal {
  animation: contactOpen 0.8s;
  // height: 60vh;
  width: 57vw;
  left: 20%;
  top: 20%;
  z-index:5;
}

.abtTag {
  z-index: 10;
}

.portrait {
  height: 20vw;
  width: auto;
  float: right;
  padding: 0px 3vw 25px 5px;
  animation: blip 1.8s;
}

.p1 {
  font-family: 'Raleway', sans-serif;
  font-size:1em;
  color:rgb(240, 240, 240);
  padding: 10px;
  padding-top: 0px;

  animation: textIntro 1.5s;
}

//contact stuff
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .contact-container  {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    display: flex;
    flex: 1;
    padding: 50px;
    width: 100%;
    overflow-x:hidden;
  }
  
  .contact-container.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #eaeaea;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .ownEmail {
    text-transform:uppercase;
    margin-top: 20px;
    font-size: 18px;
    color: #888;
    margin-right:0px;
    line-height:1.2;

  }

  .contactGroup {
    margin-left: 22%;
  }

  .igLogo {
    width:17px;
    height:auto;
    float:left;
    opacity:0.7;

    animation: textIntroIg 1.5s;
  }

  .igLink {    
    margin-top: 20px;
    color: #888;

    animation: textIntro 1.5s;
  }

  .ownEmail:hover {
    color: #eaeaea;
  }
  
  .igs:hover {
    color: #eaeaea;
    .igLogo {
      opacity:1;
    }
  }

  .tokyoTag {
    text-transform:uppercase;
    margin-top: 20px;
    font-size: 18px;
    color: #888;
    margin-right:0px;

    animation: textIntro 1.5s;
  }

  .tokyoTag:after {
    content: '';
    display: block;
    position: absolute;
    left: 63%;
    width: 30px;
    margin-top: 3px;
    height: 4px;
    background: #ea1d6f;
  }

  .ownEmail:visited, .ownEmail:focus {
    color: #888;
   }
  
  .app-title, .ownEmail, .app-form-control, .app-form-button {
    animation:textIntro 1.5s;
  }

  .closer {
    display:none;
  }

  .modalWrapper {
    height: 100vh;
    width: 100vw;
  }

@media (max-height:496px) {
  .aboutModal {
    height: 80vh;
    animation: mobileModal 0.8s;
  }
}

@media (max-height:410px) {
  .p1 {
    font-size:0.9em;
  }
}

@media (max-height:340px) {
  .p1 {
    font-size:0.8em;
  }
  .aboutModal {
    height: 100vh;
    animation: mobileModal 0.8s;
  }
}



@media (max-width:576px) {

  .headerContainer {
    z-index: 5;
  }

  .contactModal {
    height: 40vh;
    width: 70vw;
    top: 20%;
    left: 13%;
    z-index: 4;
    overflow-x: hidden;
    animation: mobileModal 0.8s;

    .app-title {
      left: -24%;
    }

    .contactGroup {
      margin-left:0%;
    }
    .ownEmail{
      margin-top:13%
    }
    .tokyoTag {
      margin-right: 10vw;
    }
    .tokyoTag:after {
      left: 46vw;
    }

  }

  .contact-container {
    width: 80%;
    align-items:center;
  }

  .aboutModal {
    height: 65vh;
    width: 80vw;
    left: 9%;
    top: 15%;
    font-size: 0.86em;
    line-height: 160%;
    z-index: 4;

    animation: mobileModal 0.8s;

    .portrait {
      height: 43vw;
      padding: 8px 15px 2px 5px;
    }
  }

  .closer {
    height: 150vh;
    width: 150vw;
    background: white;
    // display: initial;
    position: absolute;
    bottom: -190px;
    left: -50px;
    z-index: -1;
  }
}

//optimization for bigger screens

@media (min-width:750px) and (max-width:1199px) {
  .contactModal {
    left: 27%;
    top: 25%;
    width: 47vw;
    height: 37vh;
    
    .contactGroup {
      margin-left: 30%;
    }
  }

  .tokyoTag:after {
    left: 69%;
  }

  .p1 {
    font-size:1.15em;
  }
}

@media (min-width:1200px) and (max-width:1499px) {

  .contactModal {
    left: 29%;
    top: 25%;
    width: 40vw;
    animation: contactOpen1200 0.8s;
    
    .contactGroup {
      margin-left: 30%;
    }
  }

  .aboutModal {
    height: 67vh;
    width: 49vw;
    top: 20%;
    left: 25%;
    animation: aboutOpen1200 0.8s;


    .p1 {
      font-size: 1.35em;
      padding-top: -3px;
    }
  }
}

@media (min-width:1500px) and (max-width:1899px) {

  .contactModal {
    left: 35.3%;
    top: 25%;
    width: 30vw;
    animation: contactOpen1500 0.8s;
    
    .contactGroup {
      margin-left: 30%;
    }
  }

  .aboutModal {
    width:40vw;
    left: 30%;
    animation: aboutOpen1500 0.8s;
  }

  .p1 {
    font-size:1.4em;
    padding-top: -3px;
  }
}

@media (min-width:1900px){
  .contactModal {
    left: 33%;
    top: 25%;
    width: 32vw;
    height: 20vw;
    animation: contactOpen1900 0.8s;

    .contactGroup {
      margin-left: 38%;
    }

    .ownEmail {
      margin-top: 20px;
      font-size: 26px;
      margin-right:0px;
      line-height:1.2;
    }

    .igLogo {
      width:24px;
      opacity:0.7;
    }
  
    .igLink {    
      margin-top: 20px;
      font-size: 26px;
    }
    
    .tokyoTag {
      font-size: 26px;
    }
    
    .tokyoTag:after {
      left: 22.8vw;
      width: 43px;
      height: 6px;
    }

    .app-title {
      font-size: 33px;
      margin-left: 20px;
    }

    .app-title:after{
      width: 43px;
      height: 6px;
    }
  }

  .aboutModal {
    width:40vw;
    height:58vh;
    left: 30.7%;
    animation: aboutOpen1900 0.8s;
  }

  .p1 {
    font-size:1.5em;
    padding-top: -3px;
  }
}



@keyframes aboutOpen {

    0% {
      height: 0vw;
      width: 5vw;
      top: 12%;
      left: 25%;
    }

    50% {
      height: 10vw;
      width: 20px;
      top: 40%;
      left: 40%; 
    }

    100% {
      height: 67vh;
      width: 55vw;
    }
}

@keyframes aboutOpen1200 {

  0% {
    height: 0vw;
    width: 5vw;
    top: 12%;
    left: 25%;
  }

  50% {
    height: 10vw;
    width: 20px;
    top: 40%;
    left: 40%; 
  }

  100% {
    height: 67vh;
    width: 49vw;
  }
}

@keyframes aboutOpen1500 {

  0% {
    height: 0vw;
    width: 5vw;
    top: 12%;
    left: 25%;
  }

  50% {
    height: 10vw;
    width: 20px;
    top: 40%;
    left: 40%; 
  }

  100% {
    height: 67vh;
    width:40vw;
    left:30%;
  }
}

@keyframes aboutOpen1900 {

  0% {
    height: 0vw;
    width: 5vw;
    top: 12%;
    left: 25%;
  }

  50% {
    height: 10vw;
    width: 20px;
    top: 40%;
    left: 40%; 
  }

  100% {
    width:40vw;
    height:58vh;
    left: 30.7%;
  }
}

@keyframes contactOpen {

  0% {
    height: 0vw;
    width: 5vw;
    top: 12%;
    left: 75%;
  }

  50% {
    height: 10vw;
    width: 20px;
    top: 40%;
    left: 60%; 
  }

  100% {
    left: 27%;
    top: 25%;
    width: 47vw;
    height: 37vh;
  }
}

@keyframes contactOpen1200 {

  0% {
    height: 0vw;
    width: 5vw;
    top: 12%;
    left: 75%;
  }

  50% {
    height: 10vw;
    width: 20px;
    top: 40%;
    left: 60%; 
  }

  100% {
    left: 29%;
    top: 25%;
    width: 40vw;
    height: 37vh;
  }
}

@keyframes contactOpen1500 {

  0% {
    height: 0vw;
    width: 5vw;
    top: 12%;
    left: 75%;
  }

  50% {
    height: 10vw;
    width: 20px;
    top: 40%;
    left: 60%; 
  }

  100% {
    left: 35.3%;
    top: 25%;
    width: 30vw;
    height: 33vh;
  }
}

@keyframes contactOpen1900 {

  0% {
    height: 0vw;
    width: 5vw;
    top: 12%;
    left: 75%;
  }

  50% {
    height: 10vw;
    width: 20px;
    top: 40%;
    left: 60%; 
  }

  100% {
    left: 33%;
    top: 25%;
    width: 32vw;
    height: 20vw;
  }
}

@keyframes mobileModal {
  0% {opacity: 0}
  50% {opacity: 0.3}
  100% {opacity: 1}
}

@keyframes textIntro {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes textIntroIg {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 0.7;}
}

@keyframes blip {
    0% {opacity:0}

    70% {opacity:0}
    70.4% {opacity:0.4}
    70.8% {opacity:0}

    73% {opacity:0}
    73.4% {opacity:0.6}
    73.8% {opacity:1}
}