

.burgOpen, .burgClosed {
    width:100%;
    overflow-x:hidden; 
}

.navContent {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    background-color:rgb(10, 10, 10);

    font-family: 'Raleway', sans-serif;
    color:rgb(240, 240, 240);
    font-size: 2.2em;
    height: 105vh;
    width: 60vw;
    right: 0px;
    top: -3px;
    position: absolute;
    z-index: 9;
    border-radius: 2px;
    text-align: end;
}

.burgPic, .burgXPic {
    height: 50px;
    width: auto;
    position: relative;
    left: 82vw;
    padding-top: 10px;
    z-index: 10;
}

.burgOpen {
    .burgPic{
        display:none;
    }
    .navContent{
        animation: slideOpen 0.5s;
    }
}

.burgClosed {
    .burgXPic {
        display:none;
    }
    .navContent {
        animation: slideClose 2s;
        right: -1000px;
    }
}

.spaceMaker {
    height: 70px;
    width: 100%;
    top: 0px;
}

.navTxt {
    padding-right: 8vw;
}




@keyframes slideClose {
    0% {right:0px}
    100% {right:-1000px}
}

@keyframes slideOpen {
    0% {right:-1000px}
    100% {right:0px}
}