@media (min-width:768px) {
    .navBar {
        display:none;
    }
}

@media (max-width:768px) {
    .navContent {
        width: 30vw;
    }
}

@media (max-width:576px ) {
    .navContent {
        width: 36vw;
    }
}

.navBar {
    position:absolute;
}

.navContent {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    background-color:rgb(10, 10, 10);

    font-family: 'Raleway', sans-serif;
    color:rgb(240, 240, 240);
    font-size: 1.1em;

    height: 62vh;
    left: -8px;
    top: -43px;
    
    position:absolute;
    z-index:9;

    border-radius:2px;
}

.burgPic, .burgXPic {
    height:25px;
    width:auto;

    position:relative;
    z-index:10;
}

.burgOpen {
    .burgPic{
        display:none;
    }
    .navContent{
        animation: slideOpen 0.5s;
    }
}

.burgClosed {
    .burgXPic {
        display:none;
    }
    .navContent {
        animation: slideClose 0.5s;
        left: -1000px;
    }
}

.spaceMaker {
    height: 70px;
    width:20vw;
    top:0px;
}

.abt, .cntct {
    padding-left:8px;
}




@keyframes slideClose {
    0% {left:-8px}
    100% {left:-500px}
}

@keyframes slideOpen {
    0% {left:-500px}
    100% {left:-8px}
}