@media (min-width:577px) {
    .navBar {
        display:none;
    }
}

.navBar {
    position:absolute;
    right: 0px;
}

.navContent {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    background-color:rgb(10, 10, 10);

    font-family: 'Raleway', sans-serif;
    color:rgb(240, 240, 240);
    font-size: 2.2em;
    height: 100vh;
    width: 60vw;
    right: 0px;
    top: -10px;
    position: absolute;
    z-index: 9;
    border-radius: 2px;
    text-align: end;
}

.burgPic, .burgXPic {
    height:70px;
    width:auto;
    padding: 10px 15px 0px 10px;
    position:absolute;
    z-index:10;
}

.burgOpen {
    .burgPic{
        display:none;
    }
    .navContent{
        animation: slideOpen 0.5s;
    }
}

.burgClosed {
    .burgXPic {
        display:none;
    }
    .navContent {
        animation: slideClose 2.5s;
        // animation-fill-mode: forwards;
        right: -1000px;
        // display:none;
    }
}

.spaceMaker {
    height: 120px;
    width: 100%;
    top: 0px;
}

.navTxt {
    padding-right: 5vw;
}




@keyframes slideClose {
    0% {right:0px}
    100% {right:-1000px}
}

@keyframes slideOpen {
    0% {right:-1000px}
    100% {right:0px}
}