.youtube-container {
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 48%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    // margin-left: 250px;
    // margin-right: 250px;
    top: 67vh;



    .mute{
        width: 25px;
    }
}

.button-container:first-cild {
    background:white;
}

@media (max-width:576px) {
    .youtubeContainer {
        flex-direction:column;
        padding:0px;
        max-width:100vw;
        overflow-x:hidden;
    }
    .embed {
        padding:0px;
    }
}


@media (min-width:1900px){ 
    
    .youtube-container {
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .button-container {
        margin-left: 300px;
        margin-right: 300px;
        top: 60vh;
    
        .mute{
            width: 40px;
        }
    }

    .embed {
        transform: scale(1.5);
        padding: 65px;
    }
}

