body {
    background-color:rgb(10, 10, 10);
    background-color:pink;
}

a {
    text-decoration: none;
    color: antiquewhite;

    &:active, &:focus{
        text-decoration: none;
        color:antiquewhite;
    }

    &:hover {
        color:grey;
    }
}

.appContainer {
    position:relative;
}
